.gallery{
  position: relative;
  width: 100%;
  height: 100%;
}

.frame0{
  position: absolute;
  left: 15%;
  top: 20%;
  width: 45vw;
  height: 40vh;
  .pic-wrapper{
    left:-45vw;
  }
  .pict {
    width: 45vw;
    height: 40vh;
    img {
      width: 45vw;
      height:  40vh;
    }
  }
  .current{
    left: 45vw;
  }
  .next{
    left:90vw;
  }
  .next.move{
    left:45vw;
  }
}

.frame1{
  position: absolute;
  left: 15%;
  top: 62.5%;
  width: 20vw;
  height: 22.5vh;
  .pic-wrapper{
    left:-20vw;
  }
  .pict {
    width: 20vw;
    height: 22.5vh;
    img {
      width: 20vw;
      height: 22.5vh;
    }
  }
  .current{
    left: 20vw;
  }
  .next{
    left:40vw;
  }
  .next.move{
    left:20vw;
  }
}

.frame2{
  position: absolute;
  left: 37.5%;
  top: 62.5%;
  width: 22.5vw;
  height: 22.5vh;
  .pic-wrapper{
    left:-22.5vw;
  }
  .pict {
    width: 22.5vw;
    height: 22.5vh;
    img {
      width: 22.5vw;
      height: 22.5vh;
    }
  }
  .current{
    left: 22.5vw;
  }
  .next{
    left:45vw;
  }
  .next.move{
    left:22.5vw;
  }
}

.frame3{
  position: absolute;
  width: 20vw;
  height: 35vh;
  left: 62.5%;
  top: 50%;

  .pic-wrapper{
    left:-20vw;
  }
  .pict {
    width: 20vw;
    height: 35vh;
    img {
      width: 20vw;
      height: 35vh;
    }
  }
  .current{
    left: 20vw;
  }
  .next{
    left:40vw;
  }
  .next.move{
    left:20vw;
  }

}

.frame4{
  position: absolute;
  width: 20vw;
  height: 25vh;
  left: 62.5%;
  top: 20%;

  .pic-wrapper{
    left:-20vw;
  }
  .pict {
    width: 20vw;
    height: 25vh;
    img {
      width: 20vw;
      height: 25vh;
    }
  }
  .current{
    left: 20vw;
  }
  .next{
    left:40vw;
  }
  .next.move{
    left:20vw;
  }
}
/*---------------------
 *    scroll to home
 *--------------------*/

#backtop {
  position: absolute;
  right:5%;
  bottom: 15%;
  border: 5px solid transparent;
  background: #AED6D1;
  color: #55706D;
  border-radius: 50%;
  padding: 20px 30px;
  overflow: hidden;
  width: 50px;
  animation: delayin 1.8s linear;
  transition: all 0.5s, border 0.1s 0.5s, box-shadow 0.1s 0.6s;
  white-space: nowrap;
  li{
    display: inline-block;
    list-style-type:none;
    text-indent: -17px;
    a{
      text-decoration: none;
      color: #423e48;
      font-weight: bold;
    }
  }
}

#backtop span {
  display: inline-block;
  transform: translateX(300px);
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.1s 0.5s, transform 0.3s 0.5s;
}

#backtop:hover{
  text-indent: 0;
  background: #55706D;
  color: #FFE8A3;
  a{
    color: #FFE8A3;
  }
  border: 10px solid #8DCCC4;
  box-shadow: 3px 3px 2px rgba(0,0,0, 0.15);
  animation: bounce 1s infinite;
}

#backtop:hover span {
  transform: translateX(0);
  opacity: 1;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-8px);
  }
  70% {
    -webkit-transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-8px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-8px);
  }
  70% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-8px);
  }
}


.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* -----------------------
 *
 *    Media Query
 *
 *----------------------- */

/*-------------------
 *   large desktop
 *-------------------*/

@media (min-width: 1200px) and  (max-width: 1599px){

}

/*---------------
 *   laptop
 *---------------*/

@media (min-width: 992px) and (max-width: 1199px) {

}


/*---------------
 *   tablet
 *---------------*/

@media (min-width: 768px) and (max-width: 991px) {

}



/*--------------------
 *   small device
 *--------------------*/

@media (max-width: 767px) {

  .frame0{
    position: absolute;
    left: 15%;
    top: 20%;
    width: 70vw;
    height: 40vh;
    .pic-wrapper{
      left:-70vw;
    }
    .pict {
      width: 70vw;
      height: 40vh;
      img {
        width: 70vw;
        height:  40vh;
      }
    }
    .current{
      left: 70vw;
    }
    .next{
      left:140vw;
    }
    .next.move{
      left:70vw;
    }
  }

  .frame1{
    position: absolute;
    left: 15%;
    top: 62.5%;
    width: 35vw;
    height: 22.5vh;
    .pic-wrapper{
      left:-35vw;
    }
    .pict {
      width: 35vw;
      height: 22.5vh;
      img {
        width: 35vw;
        height: 22.5vh;
      }
    }
    .current{
      left: 35vw;
    }
    .next{
      left:70vw;
    }
    .next.move{
      left:35vw;
    }
  }

  .frame2{
    position: absolute;
    left: 52.5%;
    top: 62.5%;
    width: 32.5vw;
    height: 22.5vh;
    .pic-wrapper{
      left:-32.5vw;
    }
    .pict {
      width: 32.5vw;
      height: 22.5vh;
      img {
        width: 32.5vw;
        height: 22.5vh;
      }
    }
    .current{
      left: 32.5vw;
    }
    .next{
      left:65vw;
    }
    .next.move{
      left:32.5vw;
    }
  }


  .frame3, .frame4{
    display: none;
  }
}



