.photo-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.photo-inner{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
}


img.x0{
  position: absolute;
  bottom:58%;
  right: 55%;
  height: 42%;
}
img.x1{
  position: absolute;
  bottom:10%;
  right: 55%;
  height: 42%;
}
img.x2{
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: 90%;
}


/*---------------
 *   tablet
 *---------------*/

@media (max-width: 991px) {
  img.x0, img.x1{
    height: 32%;
  }

  img.x1{
    bottom: 25%;
  }

  img.x0{
    bottom: 63%;
  }
  img.x2{
    bottom:25%;
    height:70%;
  }
}

/*--------------------
 *   small device
 *--------------------*/

@media (max-width: 767px){
  img.x0, img.x1{
    display: none;
  }
  img.x2{
    left:10%;
  }
}
